 
.input-group{
    color: blueviolet;
    /* margin-right: 20px; */
    border: 2px solid blueviolet;
    margin-top: 20px;
} 
.form-control{
    box-shadow: none;
    
}
.contentDiv{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin-left: 70px;
    margin-right: 70px;
} 
.navbar-brand{
    color: blueviolet;
}
button{
    border-left: 2px solid blueviolet;
    
}
 .nav-link{
    color: blueviolet;
    font-size: large;
 }
 .navbar-collapse{
    justify-content: flex-end;
 }
 .logout{
    cursor: pointer;
 } 
 .suggested-result{
    position: absolute;
    display: list-item;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    top: 40px;
    border: 1px solid #ddd;
    list-style: none;
    padding-left: 10px;
 }
 .suggested-result li a{
    text-decoration: none;
    cursor: pointer;
 }
 .suggested-result li{ 
    list-style-type: none;
 }
 .logout{
   cursor: pointer;
 }