<div class="row product-details" *ngIf="productData">
<div class="col-sm-6">
<img class="product-image" src="{{productData.image}}" alt="">
</div>
<div class="col-sm-6">
    <div class="details">
<h1>{{productData.name}}</h1>
<h5> Price : {{productData.price}}</h5>
<div class="display-flex">
   <h5> Color: </h5><h5 [style.backgroundColor]="productData.color" class="product-color"> </h5>
</div>
<h6>Category : {{productData.category}}</h6>
<h6 class="mt-1 mb-3">description : {{productData.description}}</h6>
<button class="btn addCart" > Add to Cart</button>
<button class="m-3 btn addCart">Buy Now</button>
<div class="quantity-group">
<button (click)="decrement()">-</button>
<input type="text" class="inputVal" value={{quantity}}/>
<button (click)="increment()">+</button>
</div>
     </div>
</div>
</div>