table {
  width: 100%;
}
img,
svg {
  vertical-align: baseline !important;
}
.text-center {
  color: green;
}
.icon {
  cursor: pointer;
  width: fit-content;
  padding: 7px;
}
.icon:hover {
  color: red;
}
